[Unit]
Description=Generate nginx access log report

[Service]
Type=oneshot
ExecStart=/usr/bin/python3 /opt/nginx-metrics-reporter.py

[Install]
WantedBy=multi-user.target
